OPERACIONES BASICAS PYTHON
Sofia Salazar
18 ago 2021

In [ ]:
x = 4 # Declarar la variable
print(x, type(x)) # Imprimir el tipo de 3

In [ ]:
print(x + 3) # Suma
print(x - 3) # Resta
print(x * 3) # Multiplicacion

In [ ]:
print(x)
x += 1 # Igual que x = x +1
print(x)
x *= 2
print(x)

In [ ]:
y = 2.5
print(type(y))
print(y, y+1, y * 2, y**2)

In [ ]:
t, f = True, False
print(type(t)) # Tiene que decir que es un booleano
print(type(f))
print(t)
print(f)

Operadores logicos

In [ ]:
print(t and f) # AND, &
print(t or f) # OR, |
print(not t)
print( t!= f) # XOR, distinto a

Cadenas de texto

In [ ]:
hello = 'hello'
world = 'world'
print(hello, len(hello))

In [ ]:
hw = hello + ' ' + world # Concatencacion de cadenas

In [ ]:
s = "hello"
print(s.capitalize()) # primera en mayuscula
print(s.upper()) # todo en mayuscula
print(s.rjust(7)) # justificar con 7 espacios
print(s.center(7)) # centrar con 7 espacios
print(s.replace('l', '(ell)')) # remplazar l con (ell)
print('   world     '.strip()) # le quita los espacios a lo que le de antes

Listas

In [ ]:
xs = [0, 1, 2, 3]
print(xs, xs[2])
print(xs[-1]) # acceder al ultimo valor de la lista

In [ ]:
xs[2] = 'fox2' # remplazar un valor de la lista
print(xs)

In [ ]:
xs.append('bar')
print(xs) # agregar un elemento al final

In [ ]:
x = xs.pop() # sacar el valor de la lista y asignarlo a una variable
print(x, xs) # tambien se modifica la lista y se quita ese valor

In [ ]:
nums = list(range(5)) # hace una lista del 0 al 4
print(nums)
print(nums[2:4])
print(nums[2:]) # del 2 al final
print(nums[:2]) # del principio al 2
print(nums[:-1]) # del penultimo al principio
nums[2:4] = [8, 9] # remplazar unos valores
print(nums)

In [ ]:
animales = ['gato', 'perro', 'chango'] # imprimir elementos en lista (iterar)
for animal in animales:
    print(animal)

In [ ]:
animales = ['gato', 'perro', 'chango'] 
for idx, animal in enumerate(animales): # primero da el index y luego el valor para ese iterador
    print('#{}: {}'.format(idx + 1, animal)) # dentro de format se ponen los valores que
    # se van a asignar a los {}

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums: # agregar los cuadrados a la lista squares
    squares.append(x**2)
print(squares)

List comprehensions (comprensiones de listas)

In [ ]:
nums = [0, 1, 2, 3, 4] # hace lo mismo que arriba en una sola linea
squares = [x**2 for x in nums] # hago x**2 antes de declarar x
print(squares)

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x**2 for x in nums if x % 2==0] # imprimir solo los cuadrados de los pares
print(even_squares)

Diccionarios

In [ ]:
d = {'gato':'arena', 'perro':'parque'} #key : valor
print(d['gato']) # imprimir de d imprimir el valor de llave gato
print ('gato' in d) # imprimir si gato esta dentro de d

In [ ]:
d['pez'] = 'agua' # agregar key y valor a diccionario
print(d['pez'])

In [ ]:
print(d['chango']) # error

In [ ]:
print(d.get('chango', 'N/A')) # Imprime el valor o decir si no existe
print(d.get('pez', 'N/A'))

In [ ]:
del d['pez'] # Borrar key pez y su valor
print(d.get('pez', 'N/A'))

In [ ]:
d = {'humano':2, 'gato':4, 'aracnido':8}
for animal, patas in d.items(): # accesa a lo que hay dentro de diccionario KEY:VALOR
    print('Un {} tiene {} patas'.format(animal, patas))

Dictionary comprehensions

In [ ]:
nums = [0, 1, 2, 3, 4]
pares_a_cuadrados = {x:x**2 for x in nums if x % 2 == 0} # si el elemento de la lista nums
# son cuadrados, entonces se agrega al diccionario y su key es el elemento original
print(pares_a_cuadrados)

SETS
No puede tener elementos repetidos
No tienen indices
No tienen orden

In [ ]:
animales = {'gato', 'perro'} # set diccionario de solo llaves
print('gato' in animales)
print('pez' in animales)

In [ ]:
animales.add('pez')
print('pez' in animales)
print(len(animales))

In [ ]:
animales.add('gato') # se agrega gato otra vez, entonces la longitud sigue siendo 3
print(len(animales))
animales.remove('gato')
print(len(animales))

Loops

In [ ]:
animales = {'gato', 'perro', 'pez'}
for idx, animal in enumerate(animales):
    print('#{}: {}'.format(idx + 1, animal))
    # se imprimen en orden distinto, porque no tienen orden

Set comprehensions

In [ ]:
from math import sqrt
print({int(sqrt(x)) for x in range(30)}) # la x es lo que esta dentro del rango 0 a 30

Tuplas
Conjuntos de datos que no pueden ser modificados

In [ ]:
d = {(x, x + 1):x for x in range(10)} # diccionario con las llaves como tuplas
t = (5, 6)
print(type(t))
print(d)
print(d[t])
print(d[(1, 2)])

In [ ]:
t[0] = 1 # no se pueden modificar las tuplas

Funciones

In [ ]:
def sign(x):  # imprime el resultado dependiendo del argumento que se le pase
    if x > 0:
        return 'positive'
    elif x<0:
        return 'negative'
    else:
        return 'zero'
    
    
for x in [-1, 0, 1]:
    print(sign(x))  # aqui se llama a la funcion

In [ ]:
def hello(name, loud = False):  # recibe 2 argumentos, uno es booleano, por default FALSO
    if loud: # Si es True, se escribe el nombre en mayuscula
        print('HELLO, {}!!!!!'.format(name.upper())) # va a poner el nombre en mayuscula
    else: # si se queda en falso, se imprime como se manda el nombre
        print('Hello, {}!'.format(name))
        
hello('Bob')
hello('Fred', loud = True)

NUMPY

In [ ]:
import numpy as np

In [ ]:
a = np.array([1, 2, 3]) # definir un arreglo, usando una lista
print(type(a), a[0], a[1], a[2])
a[0] = 5
print(a)

In [ ]:
b = np.array([[1, 2, 3], [4, 5, 6]]) # arreglo bidimensional, listas adentro de lista
print(b)

In [ ]:
print(b.shape) # matriz de 2 x 3
print(b[0, 0], b[0, 1], b[1,0])  # imprimir coordenadas en b

In [ ]:
a = np.zeros((2, 2))
print(a)

In [ ]:
b =np.ones((2, 2))
print(b)

In [ ]:
c = np.full((1, 2), 7) # llenar matriz de 7
print(c)

In [ ]:
d = np.eye(2) # matriz identidad de 2 x2
print(2)

In [ ]:
e = np.random.random((2,2)) # matriz valores random
print(e)

In [ ]:
import numpy as np


a = np.array([[1,2,3,4], [5, 6, 7, 8], [9,10,11,12]]) #crea arreglo
b = a[:2, 1:3] # todo hasta la linea 2 excluyente, y de las columnas 1 y 2
print(a)
print(b)

Rebanada de arreglo es una vista de arreglo, si se modifica, modifico arreglo original

In [ ]:
print(a[0,1])
b[0,0] = 77 # cambiando arreglo original
print(a[0,1])

In [ ]:
# Copia de arreglo para que no se referencia
import numpy as np
b = np.array(a[:2, 1:3]) # declarar un nuevo array
print(b)
b[0,0] = 77
print(a)  # podemos ver que no se cambia el a original
print(b)

In [ ]:
x = np.array([[1,2],[3,4]], dtype = np.float64)
y = np.array([[5, 6], [7,8]], dtype = np.float64)
print(x + y)
print(np.add(x, y)) # sumar 2 arrays

In [ ]:
print(x - y)
print(np.subtract(x, y)) # restar 2 arrays

In [ ]:
print(x * y)
print(np.multiply(x, y)) # multiplicar 2 array

In [ ]:
print(x / y)
print(np.divide(x, y))  # dividir 2 arrays

In [ ]:
print(np.sqrt(x)) # raiz de un array

In [ ]:
x = np.array([[1,2],[3,4]])
y = np.array([[5, 6], [7,8]])

v = np.array([9,10])
w = np.array([11,12])

#Producto interno de vectores; ambos producen 219
print(v.dot(w))
print(np.dot(v,w)) #producto punto

In [ ]:
print(v.dot(x))
print(np.dot(v,x))
print(v @ x)

In [ ]:
print(x @ y) # multiplicacion de matrices

In [ ]:
import numpy as np
x = np.array([[1,2],[3,4]])

In [ ]:
print(np.sum(x)) # suma de los columnas
print(np.sum(x, axis = 0)) # suma de cada columna
print(np.sum(x, axis = 1)) # suma de cada linea

In [ ]:
print(x)
print("transponse\n", x.T) # transponer matriz

In [ ]:
v = np.array([[1,2,3]]) # importante poner los dos corchetes
print(v)
print("transpose\n", v.T)

In [ ]:
MATHPLOTLIB
para graficar

In [ ]:
import matplotlib.pyplot as plt  #importar solo el modulo pyplot que grafica
import numpy as np

Siguiente linea para que salgan las graficas en jupyter notebook

In [ ]:
%matplotlib inline

In [ ]:
%%bash
ls  # magia de bash para correr lineas en jupyter notebook

In [ ]:
x = np.arange(0, 3 * np.pi, 0.1) # array de 0 hasta 3 * pi, con separacion de 0.1 para eje x
y = np.sin(x)

plt.plot(x,y)

In [ ]:
y_sin = np.sin(x)
y_cos = np.cos(x)
plt.plot(x, y_sin) # juntar 2 graficas
plt.plot(x, y_cos)
plt.xlabel('x axis label')
plt.title('Sine and Cosine')
plt.legend(['Sine', 'Cosine']) # asignar nombres a las graficas

In [ ]:
x = np.arange(0, 3 * np.pi, 0.1)
y_sin = np.sin(x)
y_cos = np.cos(x)

plt.subplot(2, 1, 1) # subplot 1, (numero de subplots, no.columnas, linea1) grafica esto
plt.plot(x, y_sin)
plt.title('Sine')

plt.subplot(2,1,2) # subplot2, en la linea 2
plt.plot(x, y_cos)
plt.title('Cosine')

# plt.savefig para guardar la figura

PANDAS

In [ ]:
import pandas as pd

In [ ]:
# Dataframe
df = pd.DataFrame({'Nombres': ['Sofia', 'Marlon', 'Samuel', 'Bruno', 'Javier', 'Diego', 'Xochitl'], \
     'Horoscopos': ['Geminis', 'Cancer', 'Tauro', 'Libra', 'Capricornio', 'Sagitario', \
                   'Cancer'], \
     'Edades': ['19', '20', '19', '19', '21', '19', '20']}) #llaves - columnas, valores -rows
# un valor se puede poner como np.nan y es nulo

In [ ]:
type(df)

In [ ]:
df

In [ ]:
df = df.set_index('Nombres') # poner los nombres como los indices

In [ ]:
df

In [ ]:
df.info()

In [ ]:
type(df.Edades) # las edades son strings
# lambda itera en cada valor de la columna (que es una serie) de Edades
df['Edades'] = df.Edades.apply(lambda x: int(x))

In [ ]:
df.Edades.mean()

In [ ]:
# sumarle un anio a cada persona
# si se puede df.Edades porque estas remplazando
df.Edades = df.Edades.apply(lambda x: int(x+1))
df

In [ ]:
df.Edades.hist() # panda grafica

In [ ]:
df['Animal_Fav'] = ['perro', 'gato', 'delfin', 'perro', 'serpiente', 'axolotl', 'pulpo']
df

In [ ]:
df['Animal Fav'] = 'gato'
df

In [ ]:
df = df.drop(axis = 1, labels = 'Animal Fav')
df

In [ ]:
df['Animal_Fav'] = 'gato'
df

In [ ]:
df.loc['Sofia', 'Animal_Fav'] = 'perro' # [indexador, nombre de la columna]

In [ ]:
df

In [ ]:
df.iloc[2, 2] = 'delfin'  # acceder a posicion especifica, como si fuera matriz, pero nombre no es columna 
df

In [ ]:
# df.drop(axis = 0, labels ='Marlon') borrar a una persona

In [ ]:
df.to_csv('horoscopo_grupo.csv', index = None) # sep = '\t'

In [ ]:
less horoscopo_grupo.csv

In [ ]:
# LEER DATAFRAME

In [ ]:
horoscopos = pd.read_csv('horoscopo_grupo.csv', index_col='Nombres') # delimiter = '\t'
horoscopos

In [ ]:
for h in df.Horoscopos: # iterar en cada columna de un dataframe
    print(h)

LOGICA

In [ ]:
2 == 2 # equal
2 != 1 # not equal
0 < 1 # less
2 > 1 # greater
# <= >=

In [ ]:
x = 12
x > 5 and x< 14 # True

In [ ]:
True or True

In [ ]:
False or True

In [ ]:
True or False

In [ ]:
False or False

In [ ]:
y = 5
y < 7 or y > 13 # true or false = true

In [ ]:
not True

In [ ]:
import numpy as np
e = np.array([1, 2, 3])

In [ ]:
e > 21

In [ ]:
np.logical_and(e > 21, e< 21) # compara dato por dato si funciona el and

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt  #

In [ ]:
df = pd.DataFrame({'key':['A','B','C','A','B','C','A','B','C'],
                   'data': [0, 5, 10, 5, 10, 15, 10, 15, 20]})
df

In [ ]:
df.data.sum()

In [ ]:
# filtrar dataframe adentro de un for
for key in ['A', 'B', 'C']:
    print(key, df[df['key'] == key]['data'].sum())

In [ ]:
df.groupby('key').sum()
# agrupar por los que tengan la key

In [ ]:
df.groupby('key').aggregate(np.sum)

In [ ]:
df.groupby('key')['data'].sum()

WHILE LOOPS

In [ ]:
error = 50
while error > 1:
    error = error/4
    print(error)

Files

In [ ]:
with open(filename, 'r') as file
 # hacer el codigo aqui
# se cierra automaticamente el archivo

In [ ]:
filename = 'blah'
file = open(filename, mode = 'r')
# codigo aqui
close('blah.txt')

SAS Files
sirven para estudios estadisticos

In [ ]:
# asi se pueden meter
import pandas as pd
from sas7bdat import SAS7BDAT
with SAS78DAT('sales.sas7bdat') as file:
    df_sas = file.to_data_frame()

STATA FILES
para datos epidemiologicos

In [ ]:
import pandas as pd
data = pd.read_stata('disarea.dta')

MATLAB FILES

In [ ]:
import scipy.io as sp
filename = './ja_data2.mat'
mat = sp.loadmat(filename)
print(type(mat)) # lo mete como diccionario
# diccionario a dataframe ?????

In [ ]:
df = pd.read_json('archivo_json') # leer archivo de tipo jason, que es un diccionario

DATABASES WITH PYTHON

In [2]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('sqlite:///Chinook.sqlite')

In [ ]:
table_names = engine.table_names()
print(table_names)

In [ ]:
con = engine.connect() # crear conexion de motor con database, OBJETO AL QUE PODEMOS PEDIRLE QUE HAGA COSAS
rs = con.execute('SELECT * FROM Invoice') # query de database

In [ ]:
rs # columnas de la tabla invoice

In [ ]:
df= pd.DataFrame(rs.fetchall())
df

In [ ]:
df.columns = rs.keys() # ponerle los nombres de las columnas originales al dataframe
df

In [ ]:
con.close()

In [ ]:
# Seleccionar solo 3 columnas
with engine.connect() as con:
    rs = con.execute('SELECT InvoiceDate, BillingAddress, BillingCity FROM Invoice ', engine)
    df = pd.DataFrame(rs.fetchmany(size = 5)) # solo con 5 rows
    df.columns = rs.keys()

In [ ]:
# Mas simple con pandas
df = pd.read_sql_query("SELECT InvoiceDate, BillingAddress, BillingCity FROM Invoice", engine)
df

In [ ]:
df = pd.read_sql_query("SELECT * FROM Invoice WHERE BillingCity = 'Boston' ", engine)
df

In [ ]:
df = pd.read_sql_query("SELECT * FROM Invoice ORDER BY Total ", engine)
df

In [4]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:///Chinook.sqlite')
# HACER UN INNER JOIN
con = engine.connect() # crear conexion de motor con database, OBJETO AL QUE PODEMOS PEDIRLE QUE HAGA COSAS

In [5]:
table_names = engine.table_names()

/var/folders/tc/wh31bclj4b33blvqrvps19t00000gn/T/ipykernel_68536/2273142574.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  table_names = engine.table_names()

In [6]:
rs = con.execute('SELECT * FROM Artist ar JOIN Album al ON ar.ArtistID = al.ArtistID') # query de database

In [7]:
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()

In [8]:
df

,ArtistId,Name,AlbumId,Title,ArtistId
0,1,AC/DC,1,For Those About To Rock We Salute You,1
1,2,Accept,2,Balls to the Wall,2
2,2,Accept,3,Restless and Wild,2
3,1,AC/DC,4,Let There Be Rock,1
4,3,Aerosmith,5,Big Ones,3
...,...,...,...,...,...
342,226,Eugene Ormandy,343,Respighi:Pines of Rome,226
343,272,Emerson String Quartet,344,Schubert: The Late String Quartets & String Qu...,272
344,273,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...",345,Monteverdi: L'Orfeo,273
345,274,Nash Ensemble,346,Mozart: Chamber Music,274
346,275,Philip Glass Ensemble,347,Koyaanisqatsi (Soundtrack from the Motion Pict...,275